### START Mac OS ###
*.icloud
._*
.AppleDB
.AppleDesktop
.AppleDouble
.DocumentRevisions-V100
.DS_Store
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.apdisk
.com.apple.timemachine.donotpresent
.fseventsd
Network Trash Folder
Temporary Items
### END Mac OS ###


### START Linux ###
*~
.directory
.fuse_hidden*
.nfs*
.Trash-*
### END Linux ###


### START Windows ###
*.cab
*.lnk
*.msi
*.msix
*.msm
*.msp
*.stackdump
$RECYCLE.BIN/
[Dd]esktop.ini
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
### END Windows ###


### START Others ###
# Backups / Logs / Temporary files
*.bak
*.log
*.swp
*.tmp

# IDEs
.idea/
*.project
*.tmproj
*.vscode
.devcontainer

# Git
.git
.gitattributes
.gitignore

# Docker
Dockerfile
.dockerignore

# Environment
.env
.env.sample

# Docs
README.md

# Dependencies
node_modules/

# Build
dist/
### END Others ###
