# Python
__pycache__/
*.py[cod]
*$py.class

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyTest
.pytest_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage*

# Celery Beat
celerybeat-schedule
celerybeat.pid
